<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TailsRoute</title>

    <!-- 테일윈드 -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<header style="background-color: #4D3E3E;">
    <nav class="container mx-auto flex items-center justify-center">
        <ul>
        <div class="tails-route">TailsRoute</div>
            <div class="community">Community</div>
            <div class="health">Health</div>
            <div class="pet-records">Pet Records</div>
            <div class="user-person">이미지</div>
        </ul>
    </nav>
</header>
</body>
</html>
