<th:block th:replace="usr/common/head"/>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<!-- 테일윈드 -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<!--css파일-->
<link rel="stylesheet" href="/resource/css/write.css">

<head>
    <meta charset="UTF-8">
    <title>PetdiaryWrite</title>
</head>

<body style="background-color: #fff3CD">

<form action="/usr/diary/write" method="post" enctype="multipart/form-data">
    <!--제목입력창-->

    <div class="flex items-center justify-center ">
        <input type="text" placeholder="제목을 입력해주세요." class="input-hidden">
    </div>
    <!--//파일업로드창-->
    <div class="upload-container " >
        <input type="file"  id="fileInput" multiple accept="image/*" >
        <div id="preview"></div>
        <p class="fileInput-text">파일을 드래그앤드롭 하세요</p>
        <script src="/resource/js/write.js"></script>
    </div>


    <form>
        <input type="text" placeholder="내용을 입력하세요" class="input">
    </form>

    <h2>복용약 정보</h2>
    <hr>
    <div>
        <label for="start date">복용 시작일</label>
        <input type="date" id="start date">
    </div>
    <div>
        <label for="end date">복용 종료일</label>
        <input type="date" id="end date">
    </div>
    <div>
        <label for="time"> 복용 시간 </label>
        <input type="time" id="time">
    </div>
    <div>
        <label for="information">복용약 정보 및 특이사항 </label>
        <input type="text" id="information" placeholder="약이름 등 특이사항을 입력하시오">

    </div>


    <button type="submit">일지작성</button>
</form>
</body>
</html>